*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{
    /* background-color:rgb(119,136,153);
    background-color: #2b304b; */
    background:linear-gradient(135deg, #401010 0%,#b73030 100%);
    /* background:linear-gradient(135deg, #656d77 0%,#2f363f 100%); */
    background:linear-gradient(135deg, #656d77 0%,#2f363f 100%);
    min-width: 375px;
    overflow-x: hidden;
    /* background:linear-gradient(135deg, #46464b 0%,#212125 100%); */
}

.navigation-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    min-width: 375px;
    justify-content: flex-end;
    background-color: rgb(1,1,1);
    position: sticky;
    top: 0px;
    z-index: 9999;
}
.science-logo{
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px 20px;
    flex: 1 1 auto;
    -moz-user-select: none;
    user-select: none;
}
.navigation-item{
    padding: 10px 20px;
    margin: 10px 10px;
    flex-basis: auto;
}
.navigation-item a{
    text-decoration: none;
    color: white;
    font-size: 27px;
    position: relative;
    padding: 5px 5px;
}
.navigation-item a::after{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0px;
    right: 0px;
    height: 2.5px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
}
.navigation-item a:hover::after{
    transform: scaleX(1);
}
.portfolio-init{
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    grid-gap: 25px;
    margin: 60px 30px;
}
.display-picture-wrapper{
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    box-shadow: 10px 10px 10px -5px rgba(1,1,1,0.5);
    background:linear-gradient(135deg, #bcbfc2 0%,#878c8f 100%);
    background:linear-gradient(135deg, #e5e7eb 0%,#c8ccd3 100%);
    padding: 20px 0px;
    min-width: 300px;
    border-radius: 10px;
}
#display-picture-text{
    flex: 1 1 100%;
    font-size: 30px;
    text-align: center;
    font-family: 'Literata', serif;
    color: black;
    font-weight: 600;
    padding-top: 10px;
}
.display-picture-wrapper img{
    flex-basis: 70%;
    min-width: 0px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    display: block;
}
.basic-idea{
    grid-column: 2/-1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px -4px rgba(1,1,1,0.5);
    background:linear-gradient(135deg, #e5e7eb 0%,#c8ccd3 100%);
    border-radius: 10px;
    padding: 20px;
}
.basic-idea-title{
    font-family: 'Literata', serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}
.basic-idea-content{
    margin-top: 20px;
}
.basic-idea-content > ul > li{
    padding: 15px;
    text-align: left;
    margin: 25px;
    font-size: 20px;
}
.technology-grid-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
    padding-top: 30px;
}
.technology-grid-title{
    flex-basis: 70%;
    text-align: center;
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    grid-column: 1 / -1;
    font-family: 'DM Serif Display', serif;
    padding-top: 30px;
    text-shadow: 3px 3px 3px rgba(1,1,1,0.6);
}
.technology-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    box-shadow: 0px 0px 15px -5px rgba(1,1,1,0.5);
    background:linear-gradient(135deg, #46464b 0%,#212125 100%);
    padding: 25px;
    flex-basis: 70%;
}
.technology-grid img{
    width: 180px;
    height: 200px;
    object-fit: contain;
    padding: 10px;
}
.technology-grid svg{
    width: 180px;
    height: 200px;
    padding: 10px;
}

.aos{
    opacity: 0;
    transition: opacity 600ms ease-in,
                transform 600ms ease-in;
}
.left{
    transform: translate(-100px);
}
.right{
    transform: translate(100px);
}
.aos.appear{
    opacity: 1;
    transform: translate(0px);
}
.center-java{
    grid-column: 2/span 1;
}
.right-java{
    grid-column-start: 4/span 1;
}
#react{
    order: 1;
}
#redux{
    order: 2;
}
#firebase{
    order:3;
}
#gql{
    order: 4;
}
#css{
    order: 5;
}
#html5{
    order: 6;
}
#bootstrap{
    order: 7;
}
#es6{
    order: 8;
}
#mongoDB{
    order: 9;
}
#sql{
    order: 10;
}
#nodeJs{
    order: 11;
}
#express{
    order: 12;
}
#python{
    order: 13;
}
#js{
    order: 14;
}
#cpp{
    order: 15;
}
#java{
    order: 16;
}

.lol{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.lol-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background:linear-gradient(135deg, #bcbfc2 0%,#878c8f 100%);
    box-shadow: 0px 0px 10px -5px rgba(1, 1, 1, 0.5);
    flex-basis: 75%;
}
.lol-title{
    z-index: 20;
    flex-basis: 70%;
    padding: 20px;
    color: white;
    color: black;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(1,1,1,0.4);
    font-family: 'DM Serif Display', serif;
    text-decoration: none;
}
.lol-video-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
}
.lol-video-wrapper video{
    object-fit: cover;
    flex-basis: 80%;
    width: 80%;
}
.lol-grid{
    flex-basis: 90%;
    display: grid;
    align-items: center;
    grid-template: 1fr / repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.lol-match-history-wrapper{
   
}
.lol-match-history-wrapper img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.lol-explain-text{
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 10px -4px rgba(1,1,1,0.6); 
    font-size: 20px;
    padding: 15px;
    background:linear-gradient(135deg, #e5e7eb 0%,#c8ccd3 100%);
}
.up-arrow-container{
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: calc( 100vh - 100px);
    right: 0.8vw;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    transform: scale(0.8);
    transition: transform 200ms ease-in, opacity 300ms ease-in;
    opacity: 0;
    box-shadow: 4px 4px 4px -2px rgba(1,1,1,0.5);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 30;
}
.up-arrow-container.appear{
    opacity: 1;
}
.up-arrow-container:hover{
    transform: scale(1.1);
}
.up-arrow-image{
   width: 35px;
   height: 35px;
}

@media(max-width: 950px){
    .portfolio-init{
        grid-template: auto 1fr / 1fr;
        grid-row-gap: 40px;
        margin-bottom: 0px;
    }
    .display-picture-wrapper{
        grid-column: 1/-1;
        grid-row: 1 / span 1;
    }
    .basic-idea{
        grid-column: 1/-1;
        grid-row: 2 / -1;
    }
    .technology-grid-wrapper{
        margin-top: 40px;
    }
    .technology-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
    }
    .technology-grid img{
        width: 150px;
        height: 150px;
    }
    .technology-grid svg{
        width: 150px;
        height: 150px;
    }
    .up-arrow-container{
        right: 0.8vw;
        transform: scale(0.8);
    }
}

@media(max-width: 750px){
    .technology-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
    }
    .technology-grid img{
        width: 130px;
        height: 130px;
    }
    .technology-grid svg{
        width: 130px;
        height: 130px;
    }
    .up-arrow-container{
        right: 0.6vw;
        transform: scale(0.8);
    }
}


@media(max-width: 560px){
    .science-logo{
        padding: 10px;
        margin: 0px;
        font-size: 26px;
        flex-basis: 100%;
    }
    .navigation-item{
        padding: 10px;
        margin: 0px;
        transform: translate(-10px);
    }
    .navigation-item a{
        font-size: 23px;
    }
    .portfolio-init{
        margin: 30px 15px;
        padding: 20px 0px;
    }
    .display-picture-wrapper img{
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
    #display-picture-text{
        font-size: 25px;
    }
    .basic-idea-title{
        font-size: 25px;
    }
    .technology-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }
    .technology-grid img{
        width: 110px;
        height: 110px;
    }
    .technology-grid svg{
        width: 130px;
        height: 130px;
    }
    .lol-content{
        flex-basis: calc(100% - 25px);
        border-radius: 5px;
    }
    .lol-video-wrapper{
        flex-basis: 100%;
    }
    .lol-video-wrapper video{
        flex-basis: 100%;
    }
    .lol-grid{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }
    .up-arrow-container{
        right: 0.4vw;
        transform: scale(0.6);
    }
    .up-arrow-container:hover{
        transform: scale(0.7);
    }
}
